@import "../../../styles/variables";

.variant-h1 {
  font-family: $font-display;
  font-size: 6rem;
  font-weight: 500;
  
}

.variant-h2 {
  font-family: $font-display;
  font-size: 3.75rem;
  font-weight: 500;
  
}

.variant-h3 {
  font-family: $font-display;
  font-size: 3rem;
  font-weight: 500;
}

.variant-h4 {
  font-family: $font-display;
  font-size: 2.125rem;
  font-weight: 500;
  
}

.variant-h5 {
  font-family: $font-display;
  font-size: 1.5rem;
  font-weight: 500;
  
}

.variant-h6 {
  font-family: $font-display;
  font-size: 1.25rem;
  font-weight: 500;
  
}

.variant-subheading1 {
  font-family: $font;
  font-size: 1rem;
  font-weight: 500;
  
}

.variant-subheading2 {
  font-family: $font;
  font-size: 0.875rem;
  font-weight: 500;
  
}

.variant-body1 {
  font-family: $font;
  font-size: 1rem;

}

.variant-body2 {
  font-family: $font;
  font-size: 0.875rem;
  
}

