@import "../../../styles/variables";

.modal-header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  

  .modal-title {
    flex-grow: 1;
    text-align: center;
    color: $theme-light-font-color;
  }
  .modal-close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $font-color-primary;

    &:hover {
      color: darken($font-color-primary, 20%);
    }
  }
}
