@import '../../../styles/variables';

.sign-up-form {
  max-width: 400px; 
  margin: 0 auto; 
  padding: 2rem; 
  background-color: $background-white; 
  border-radius: 8px; 

  button {
    display: block; 
    width: 100%;
    margin-top: 1.5rem; 
  }
}
